* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: #2C3E50; 
}


h1, h2{
    font-size: 0.8em;
    text-align: center;
}

h2{
    font-size: 1em;
}

header {
    width: 100%;
}


/*  ----------------- logo ------------------ */

.logo{
    height: 50px;
}
.logospace{
    padding: 10px;
}

/*  ----------------- 3 kollommen onder elkaar ------------------ */

.column{
  margin: 0px;
  padding: 20px;
}

.column:hover{
    border: 2px solid black;
    transition: border 1s ease-in-out;
}

/*  --------------- kleuren / styling / foto van concrete info ---------------- */
.brandstof{
    background-color: white;
}

.snelheid{
    background-color: #2C3E50;
    color: white;
}

.afstand{
    background-color: #6DBCDB;
}

img.brandstof {
    height: 40px;
}

img.snelheid {
    height: 40px;
}

img.raket {
    height: 40px;
}

figure{
    display: flex;
    justify-content: center;
    margin: 0px;
}

.grid-container section {
    width: 100%;
}


/*  ----------------- Mars / Aarde info ------------------ */

.container-bestemming{
    padding: 20px 20px 0px 20px;
}

.titel{
    color: white;
    padding: 20px 0px 20px 0px;
    text-align: left;
}

.flex-img{
    display: inline-block;
    width: 100%;
}

.details-img{
    margin-bottom: 1.4rem;

}

.details{
    margin: 0 0 1.4rem;
    padding: 0;

}

.details dt{
    margin: 0;
    font-weight: bold;
    color: white;
}


.details dd{
    margin: 0;
    color: white;
}

.tabs{
    margin: 0 0 1.4rem;
    overflow: hidden;
    padding: 0;
    list-style-type: none;
}

.tab{
    float: left;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.tab-current{
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid white;
}

.tab a{
    display: block;
    padding: .5em .9em;
    color: white;
}

/*  ----------------- Table rooster ------------------ */

table{
    min-width: 35em;
    border-collapse: collapse;
}

thead{
    background-color: #e2e2e2;
    text-align: left;
}

thead th{
    padding: .3em;
    border-bottom: 1px solid grey;
}

td,
tbody th{
    border-bottom: 1px solid grey;
    padding: .3em;
    text-align: left;
    color: white;
}

.table-wrap{
    overflow-x: auto;
}

.article-table{
    padding: 20px;
}

/*  ---------- Charts ---------- */


section#chart-container {
    padding: 0px 20px 20px 20px;
    width: 100%;
}

#line , #donut , #bar{
    background-color: #12202F;
    border-radius: 10px;
    padding: 20px;
}

canvas {
    margin: 20px 0 20px 0;
}


/*  ---------- footer ---------- */

footer{
    background-color: #2C3E50;
    padding: 0px 20px 20px 20px;
}

footer p{
    text-align: center;
    color: white;
    margin: 10px 0 10px 0;

 }


/*  ----------------- Breekpunt 1------------------ */


@media (min-width: 500px) {

.row{
    width: 100%;
    display: flex;

}



}

/*  ----------------- Breekpunt 2------------------ */
@media (min-width: 760px) {

/* Er springen nu elementen naast elkaar */
#flex-container1{
    display: flex;
}

#flex-containerr {
    display: flex;
    width: 47.6%;
}

/* zorgen dat informatie planeten niet te klein wordt*/
table{
    min-width: 20.8em;
}

/* zorgt dat er margin tussen de charts komt*/
#donut{
    margin-left: 20px;
}

#bar{
    margin-right: 20px;
}

/* Informatie planeten styling */
.details{
    margin-left: 1em;
    display: inline-block;
    vertical-align: top;
}

.details-img{
    width: calc(60% - 1em);
}


/*  ----------------- Breekpunt 3------------------ */
/*  --------- Verspringen van Chart -------- */
@media (min-width: 900px){

#flex-containerr {
    width: 47.8%;
}

/* zorgen dat informatie planeten en rooster weer beter verdeelt zijn */
table{
    min-width: 30em;
}
}

/*  ----------------- Breekpunt 4------------------ */
@media (min-width: 1200px){
 #flex-containerr {
    width: 48.5%;
}

/* zorgen dat informatie planeten en rooster weer beter verdeelt zijn */
table{
    min-width: 34.5em;
}
}