* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-color: #2C3E50; 
}



/*  ----------------- logo SpaceX ------------------ */

.logo{
    height: 50px;
}
.logospace{
    padding: 10px;
}

/*  ----------------- Korte info brandstof/snelheid/afstand ------------------ */

/*  ----------------- Styling  ------------------ */

h1, h2{
    font-size: 1em;
    text-align: center;
}

.brandstof{
    background-color: white;
}

.snelheid{
    background-color: #2C3E50;
    color: white;
}

.afstand{
    background-color: #6DBCDB;
}

/*  ----------------- SVG grootte  ------------------ */


img.brandstof, img.snelheid, img.raket {
    height: 40px;
}

/*  ----------------- Positie met behulp van flexbox ------------------ */

figure{
    display: flex;
    justify-content: center;
    margin: 0px;
}

/* zorgt ervoor dat de section over de gehele breedte is*/
.grid-container section {
    width: 100%;
}

.column{
  margin: 0px;
  padding: 20px;
}


/*  ----------------- Rooster van de dag ------------------ */

/* Margin voor flexcontainer */

#flex-container1{
    margin: 0px 20px 0px 20px;
}

/* Minimale breedte zodat tabel niet te klein kan worden */
table{
    min-width: 35em;
    border-collapse: collapse;
}

thead{
    background-color: rgba(180, 180, 180, 0.5);
    text-align: left;
}

thead th{
    padding: .4em;
    border-bottom: 1px solid #414A53;
}

td,
tbody th{
    border-bottom: 1px solid grey;
    padding: .3em;
    text-align: left;
    color: white;
}

.article-table{
    margin: 40px 20px 0px 20px;
    height: 400px;
}

/* Zorgt voor een scrollbar als het scherm te klein is */
.table-wrap{
    overflow-x: auto;
}

/* Styling tab links */
.tablink {
    background-color: rgba(180, 180, 180, 0.5);
    color: white;
    float: left;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    padding: .5em .9em;
    font-size: 16px;

}

/* Kleur veranderd als je over de buttons hovert */
.tablink:hover, .tablinkplaneet:hover {
    background-color: #777;
}

/* Styling van de tab content (100% voor volledige hoogte content) */
.tabcontent {
    color: white;
    display: none;
    padding: 60px 0px;
    height: 100%;
}

#Vandaag, #Morgen , #Mars , #Aarde {
    background-color: #2C3E50;
 }

/*  ----------------- Mars / Aarde info ------------------ */

.infoplaneten{
    margin: 40px 20px 0px 20px;
}

.titel{
    color: white;
    margin: 20px 0px 20px 0px;
    text-align: left;
}

/*  -------- zorgen dat er niks naast button komt, en juiste padding gebruiken------ */

.tab-panels{
    clear: both;
    padding-top: 20px;
}


/* Styling tab link planeet */
.tablinkplaneet{
  background-color: #2C3E50;
  color: white;
  float: left;
  border: 1px solid white;
  outline: none;
  cursor: pointer;
  padding: .5em .9em;
  font-size: 16px;

}

/* Styling planeet foto's */
.details-img{
    margin-bottom: 1.4rem;
    display: inline-block;
    width: 100%;

}

/* Styling details */

.details{
    margin: 0 0 1.4rem;
    padding: 0;

}

.details dt{
    margin: 0;
    font-weight: bold;
    color: white;
}

.details dd{
    margin: 0;
    color: white;
}


/*  --------------------------- Charts ---------------------------------- */


section#chart-container {
    padding: 0px 40px 20px 40px;
    width: 100%;
}

#line , #pie , #bar{
    background-color: #12202F;
    border-radius: 10px;
    padding: 20px;
}

canvas {
    margin: 40px 0 0px 0px;
}


/*  ---------------------------- footer ----------------- */

footer{
    background-color: #2C3E50;
    margin: 20px 40px 40px 40px;
}

footer p{
    text-align: center;
    color: white;
 }


/*  ----------------- Breekpunt 1------------------ */

/*  ------ korte info stukjes komen nu naast elkaar ----------- */
@media (min-width: 550px) {

.row{
    width: 100%;
    display: flex;

}

}

/*  ----------------- Breekpunt 2------------------ */
@media (min-width: 650px) {


/* Er springen nu elementen naast elkaar, omdat het kwa 
content niet meer anders kan. */
#flex-container1{
    display: flex;
}

/* Margin wordt nu weer 20px kleiner, zodat het rooster gelijk komt te staan met de planeten */
.article-table{
    margin: 20px 20px 0px 20px;
}

/* margin is weer aangepast naar normaal */
.infoplaneten{
    margin: 20px 20px 0px 20px;
}
/* Rooster en info planeten is nu gelijk kwa breedte */
table{
    min-width: 40.5vw;
}

/* Tekst van planeten staat nu rechts van de afbeeldingen in plaats onder. */
.details{
    margin-left: 1em;
    display: inline-block;
    vertical-align: top;
}

/* Grootte van de planeten afbeeldingen*/
.details-img{
    width: calc(50% - 1em);
}

/* Er springen nu elementen naast elkaar, omdat het kwa 
content niet meer anders kan. */
#flex-containertwee {
    display: flex;
    width: 46.2%;
}

/* zorgt dat er margin tussen de charts komt*/
#pie{
    margin-left: 20px;
    margin-top: 20px;
}

#bar{
    margin-right: 20px;
    margin-top: 20px;
}


/*  ----------------- Breekpunt 3 ------------------ */
@media (min-width: 890px){

/* chart grootte verandert nu */
 #flex-containertwee {
    width: 47.5%;
}

/* Rooster en info planeten is nu gelijk kwa breedte */
table{
    min-width: 43.5vw;
}


}

/*  ----------------- Breekpunt 4 ------------------ */
@media (min-width: 1200px){

/* Aantal elementen worden een fractie groter, zodat het iets leesbaarder is */
.logo{
    height: 55px;
}

h1, h2{

    font-size: 1.05em;
}

td,
tbody th{
    font-size: 16px;
}

/* chart grootte verandert nu */
 #flex-containertwee {
    width: 48.2%;
}

/* Rooster en info planeten is nu gelijk kwa breedte */
table{
    min-width: 45vw;
}
}